body {
  background: black;
}
.navBar {
  color: #e0e0e0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #121212;
}
.navLink {
  color: #e0e0e0;
}
#standard-required {
  color: #e0e0e0;
  opacity: 1;
}

.input-holder {
  background: #121212;
  width: 30%;
  margin: 1% auto;
}
.form {
  display: flex;
  justify-content: center;
  background-color: #121212;
  color: #e0e0e0;
  width: 100%;
}
.off {
  font-size: 50px;
  color: #e0e0e0;
}
.happy {
  color: yellow;
  font-size: 50px;
}

.far {
  font: outline;
  font-size: 50px;
}
.icon-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 20px auto;
}
.icon-wrapper {
  width: 100%;
}

.add-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 2%;
}
.text-field {
  margin: 0 20px;
  color: white;
}
.entry {
  display: flex;
  justify-content: center;
  width: 100%;
}
.button-holder {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  position: relative;
  bottom: 50px;
}

.graph_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.p_container {
  margin: 10px;
}
.h_container {
  text-align: center;
}
.react-datetimepicker__header {
  text-align: center;
  background-color: #3e82cf;
  border-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 8px;
  position: relative;
}

.react-datetimepicker__today-button {
  background: #3e82cf;
  border-top: 0px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}
.react-datetimepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #e0e0e0;
  color: #121212;
  border: 0px;
  border-radius: 0;
  display: inline-block;
  position: relative;
}
.modal-wrapper {
  display: flex;
  height: 50vh;
  width: 50%;
}
.modal {
  opacity: 0.9;
}

.modal-holder {
  width: auto;
}
.icons-supplier {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.icon-spacer {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.mood-container {
  display: flex;
  color: yellow;
  font-size: 1.6rem;
  margin-right: 20px;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
}

.sleepRec {
  width: 100%;
  margin: 0 auto;
  color: #e0e0e0;
  text-align: center;
  text-decoration: none;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
}
.sleep-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.analyzer-img {
  height: 400px;
  width: 450px;
  border-radius: 20px;
  margin-top: 30px;
}

.analyzer-wrapper {
  display: flex;
  justify-content: space-evenly;

  margin: 10% auto;
  width: 70%;
}
.hours-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  width: 40%;
}
.happy-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.8rem;
  margin-bottom: 10%;
}
.continue-tracking {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grin {
  color: green;
}
.frown {
  color: red;
}
.login {
  text-decoration: none;
  color: #e0e0e0;
}
.visibility {
  position: relative;
  right: 40px;
  bottom: 58px;
  left: 450px;
  font-size: 59px;
}
.input-form {
  background: #121212;
  font-size: large;
  height: 40px;
  border: #121212;
  color: #e0e0e0;
  ::placeholder {
    color: #e0e0e0;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 10%;
  padding-top: 5%;
  top: 100px;
  left: 100px;
  position: relative;
  width: 60%;
}

.names {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: 5% auto;
}

.full-length {
  width: 100%;
  background-color: #121212;
  font-size: large;
  border: #121212;
  height: 40px;
  margin: 5% auto;
  color: #e0e0e0;
}
.reg-button {
  position: relative;
  bottom: 80px;
}
.checkbox {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 35px;
}
