body {
  background: black;
}
.navBar {
  color: #e0e0e0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #121212;
}
.navLink {
  color: #e0e0e0;
}
#standard-required {
  color: #e0e0e0;
  opacity: 1;
}

.input-holder {
  background: #121212;
  width: 30%;
  margin: 1% auto;
}
.form {
  display: flex;
  justify-content: center;
  background-color: #121212;
  color: #e0e0e0;
  width: 100%;
}
.off {
  font-size: 50px;
  color: #e0e0e0;
}
.happy {
  color: yellow;
  font-size: 50px;
}

.far {
  font: outline;
  font-size: 50px;
}
.icon-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 20px auto;
}
.icon-wrapper {
  width: 100%;
}

.add-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 2%;
}
.text-field {
  margin: 0 20px;
  color: white;
}
.entry {
  display: flex;
  justify-content: center;
  width: 100%;
}
.button-holder {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  position: relative;
  bottom: 70px;
}

.graph_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.p_container {
  margin: 10px;
}
.h_container {
  text-align: center;
}
.react-datetimepicker__header {
  text-align: center;
  background-color: #3e82cf;
  border-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 8px;
  position: relative;
}

.react-datetimepicker__today-button {
  background: #3e82cf;
  border-top: 0px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}
.react-datetimepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #e0e0e0;
  color: #121212;
  border: 0px;
  border-radius: 0;
  display: inline-block;
  position: relative;
}
.name-wrapper {
}
